# Pinned dependencies
Werkzeug==3.1.3
SQLAlchemy==2.0.36

# Runtime dependencies
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Talisman==1.1.0
Flask-Cors==5.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1

# Runtime tools
gunicorn==23.0.0
honcho==2.0.0

# Code quality
pylint==3.3.2
flake8==7.1.1
black==24.10.0

# Testing dependencies
pynose==1.5.3
pinocchio==0.4.3
factory-boy==3.3.1

# Code Coverage
coverage==7.6.9

# Utilities
httpie==3.2.4